$shared-foreground: #D9D9D9;

$vars: (
    foreground-primary,
    foreground-secondary,
    border
);

$fonts: (
  regular: (weight: 400, family: 'Open Sans, sans-serif'),
  semibold: (weight: 500, family: 'Open Sans, sans-serif'),
  bold: (weight: 600, family: 'Playfair Display, sans-serif'),
  black: (weight: 800, family: 'Playfair Display, sans-serif'),
);

$color-primary: var(--color-primary);
$color-destructive: var(--color-destructive);

$color-background: var(--color-background);
$color-foreground-primary: var(--color-foreground-primary);
$color-foreground-secondary: var(--color-foreground-secondary);
$color-border: var(--color-border);

@mixin truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}